.sign-up, .user-edit {
  .page-title {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
  }
}

.user-edit {
  .delete-message {
    margin-top: 50px;
  }
  p {
    color: #FF0066;
  }
}

  // 選択ボタンの中央寄せ
.field_device_image{
  display: inline-block
}

.sign-up {
  .links {
    margin-top: 30px;
    a {
      color: black;
    }
  }
}
