// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// マイページ画像
.icon_image {
  width: 100px;
  height: 100px;
  //サイズ指定
  border-radius: 50px;
  //画像を丸くする
  object-fit: cover;
  //タテヨコ比を変えないままトリミング
}

.field_user_image{
display: inline-block
}

.main-container_user {
  background-image: url("wallpaper_user.png")
}

.user_botton_stock{
  text-decoration:none;
  color: #FFFFFF;
  margin-bottom:  15px;
  margin-top: 15px;
}

.user_botton_receipt{
  text-decoration:none;
  color: #FFFFFF;
  margin-bottom:  15px;
  margin-top: 15px;
}

.user_botton_mypage{
  text-decoration:none;
  color: #FFFFFF;
  margin-bottom:  15px;
  margin-top: 15px;
}
